body {
  background-image: url('../../images/bg-main-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

ul,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
}

@media screen and (min-width: 1536px) {
  .list {
    gap: 36px;
  }
}

.link {
  font-weight: 500;
  color: #190c0c;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 20px;
  }
}

@media screen and (min-width: 1536px) {
  .link {
    font-size: 24px;
  }
}
